.maincontainer{
    width:500px;
    height:300px;
    color:White;
    background-color:#232323;
    border:1px solid red;
    padding-left:40px;
    padding-top:40px;
    font-family:arial;


}
.textinput{
    width:300px;
    height:20px;
    font-family:arial;
    font-size:12px;
    border:0px solid;
    border-radius:2px;
    background-color:#e8e8e8;

}
.inputbtn{
    width:302px;
    height:28px;
    background-color:#db4a39;
    color:#e8e8e8;
}
.titlesize{
    font-size:14px;

}