<div  class="logincontainer">

    <div class="maincontainer">

        <form  method='get'>
            <label class='titlesize'>User Login </label><br><br>
            <input class="textinput" type="text" name="username" placeholder="userId"><br><br>
            <input class="textinput" type="password" name="pwd" placeholder="Password"><br><br>

            <input ng-click="onSubmit($event)" class="textinput inputbtn" type="submit" name="submit" value="Login to your account">

        </form>

    </div>


</div>
