<div class="tictactoe">



    <div class="boardcontainerparent" >

        <div id="pone" style="text-align:left"> PLAYER 1</div>
        <br>

        <div id ="board" class="boardcontainer">

        </div>

        <br>
        <br>
        <div id="ptwo" style="text-align:left">  PLAYER 2 </div>
        <br>
        <div style="text-align:left">  <b>Status:</b> <label id="gstatus"> </label> </div>
        <br>
        <div> <button ng-click="reset()">Reset</button></div>

    </div>



</div>